.cart{
     background: rgba(255, 153, 0, 0.3);
     padding-left: 17px;
     border-radius: 10px;
     margin-right: 15px;
     height: 400px;
     position: sticky;
     top: 0px;
}

.cart h4{
     padding-top: 10px;
}


.btn-clear-cart{
     display: flex;
     justify-content: space-between;
     width: 95%;
     background: #FF3030;
     border-radius: 4px;
     color: white;
     align-items: center;
     margin-top: 40px;
}